<div id="app" class="appd divider"></div>

<div class="section_container">
  <h1>APP COMING SOON!</h1>
  <div id="phone" class="stats phone">
  </div>
  <div class="app_copy">
    <div id="stat_copy" class="copy_hide">
      <h2>STAT TRACKER</h2>
      <h3>
        Track your stats.
        <br />
        Other awesome features.
        <br />
        It's on a phone!
        <br />
        It's coming out for your phone I mean.
        <br />
        Soonish!
      </h3>
    </div>
    <div id="compare_copy" class="copy_hide" style="display:none;">
      <h2>TELL YOUR FRIENDS THEY SUCK</h2>
      <h3>
        Because they are terrible at pong.
        <br />
        Because they can't drinnk a whole cup.
        <br />
        Because they trolled.
        <br />
        Because of their general personality.
        <br />
        Other stuff!
      </h3>
    </div>
    <div id="award_copy" class="copy_hide" style="display:none;">
      <h2>SWEET BADGES, BRO</h2>
      <h3>
        Collect them and stuff.
        <br />
        Show how awesome you are.
        <br />
        Win the coveted 'troll' badge.
        <br />
        JK, don't troll noob.
        <br />
        Haha, you're so trolling.
      </h3>
    </div>
  </div>
  <div class="appstore_soon">
  </div>
</div>
<br />

<div class="section_container">
  <div id="dot_one" class="dots selected" style="margin-left:58px;"></div>
  <div id="dot_two" class="dots"></div>
  <div id="dot_three" class="dots"></div>
</div>

<br />
