<div id="team" class="teamd divider"></div>

<div class="section_container">
  <h4>
    A team of drunk, inexperienced, idiots working hard to bring unecessary
    levels of competitiveness to a game you should probably not be playing
    anyways.
  </h4>
  <div id="sean" class="photos sean">
  </div>
  <div id="daniel" class="photos daniel">
  </div>
  <div id="guru" class="photos guru">
  </div>
</div>

<div class="section_container">
  <h2 style="margin-top: 200px;">
    <span id="sean_name" class="about_name">SEAN PRYOR</span>
    <span id="daniel_name" class="about_name">DANIEL CRUZ</span>
    <span id="guru_name" class="about_name" style="margin-right:0px;">GURU KOTTA</span>
  </h2>
  <div id="sean_about" class="about_text">
    <h4>Co-Founder. Sucks at pong. Designs good. Pretends to code.</h4>
  </div>
  <div id="daniel_about" class="about_text">
    <h4>Co-Founder. Likes to jump over things, and does so really fucking well.</h4>
  </div>
  <div id="guru_about" class="about_text">
    <h4>Co-Founder. Vegan. Anti-gluten. Facebook model.</h4>
  </div>
</div>
